.aboutHeading{
    margin: 50px;
}

.aboutContent{
    margin: 50px;
    @include ElemDimensions();
    > .line{
        @include ElemDimensions(90%, 3px);
        background-color: $white;
    }


    > .skills{
        @extend %flex-evenly-column;
        @include ElemDimensions(90%, 65%);
        
        > .buttons{
            
        @include ElemDimensions(300px, auto);
            @extend %flex-center-evenly;
        
        > .activeBtn{
            background-color: rgba(0,0,0,0);
            border: none;
            color: $white;
            font-weight: 700;
            text-decoration: underline;
        }

        > .inActiveBtn{
            @include ElemDimensions(100px , 30px);
            @extend %flex-center-center;
            background-color: $white;
            color: $blue;
            border-radius: 25px;
            border: none;
            font-weight: 700;
            bottom: 0;
            transition: 0.7s;
            cursor: pointer;
            &:hover{
                background-color: rgba(0,0,0,0);
                border: 3px solid $white;
                color: white;
            }
        }
        }


        > .elements{
            @include ElemDimensions(90%, 90%);
            @extend %flex-between-center;
            @include align-items(flex-start);

            > .activeBlock{
                position: absolute;
                @include ElemDimensions(60%, 60%);
                transform: scale(0.99);
                transform-origin: top left;
                transition: 0.7s;
            }
            > .development{
                background: linear-gradient(90deg, $navDark, $navLight);
                

                > .topBar{
                    @include ElemDimensions(100%, 5%);
                    background-color: $navDark;
                }

                > .dev-content{
                    @include ElemDimensions(100%, 95%);
                    @include flexbox();
                    @include flex-direction(row);


                    > .sideBar{
                        @include ElemDimensions(30%, 100%);
                        background-color: $navLight;
    
                        > .dev-list{
                            @include ElemDimensions(100%, 100%);
                           
    
                            > .dev-items{
                                
                               @include flexbox();
                                @include flex-direction(row);
                                margin-top: 5px;
    
                                > span{
                                    margin-left: 20px;
                                }
                                > h3{
                                    margin-left: 30px;
    
                                }
    
                            }
                        }
                    }

                    > .body{
                        margin:0px 50px;
                        @include ElemDimensions(100%, 100%);
                        font-size: 0.9rem;


                        > .comment{
                            color: $comment;
                        }

                        > .code {
                            @include flexbox();
                            @include flex-direction(row);
                            color: $string;

                            > .init{
                                @include flexbox();
                            @include flex-direction(row);
                                > .let{
                                    color: $let;
                                    margin-right: 5px;
                                }
    
                                > .var{
                                    color: $var;
                                    margin-right: 5px;
                                }
                            }
                            
                        }
                    }
                }
                
            }



            > .design {
                background-color: $design;
                > .topBar{
                    @include ElemDimensions(100%, 5%);
                    background-color: $navDark;
                }

                > .dev-content{
                    @include ElemDimensions(100%, 95%);
                    @include flexbox();
                    @include flex-direction(row);


                    > .sideBar{
                        @include ElemDimensions(30%, 100%);
                        background-color: $white;
    
                        > .dev-list{
                            @include ElemDimensions(100%, 100%);
                            color: $navLight;
    
                            > .dev-items{
                                
                               @include flexbox();
                                @include flex-direction(row);
                                margin-top: 5px;
    
                                > span{
                                    margin-left: 20px;
                                }
                                > h3{
                                    margin-left: 30px;
    
                                }
    
                            }
                        }
                    }

                    > .body{
                        margin:0px 50px;
                        @include ElemDimensions(100%, 100%);
                        font-size: 0.9rem;


                        > .comment{
                            color: $comment;
                        }

                        > .code {

                            color: $string;
                            > .let{
                                color: $let;
                            }

                            > .var{
                                color: $var;
                            }
                        }
                    }
                }
            }



            > .inactiveBlock{
                position: absolute;
                @include ElemDimensions(60%, 60%);
                right: 10%;
                transform: scale(0.2);
                transform-origin: top right;
                transition: 0.7s;
            }
        }
       
    }
}


.dark{
    color: $navDark;
}