

#Home{

    z-index: 1;
    @include ElemDimensions(80%);
    @extend %flex-center;

    @include for-tablet-portrait-up(){
        @include ElemDimensions();
    }
    

     > .homeContent{
        z-index: 1;
        @include ElemDimensions();
        @extend %flex-align-center;
        margin-left: 500px;
        @include for-tablet-portrait-up(){
            margin-left: 50%;
        };

       > .icons{
        @include ElemDimensions(25%, auto);
            @include flexbox();
            @include justify-content(space-between);
            @include for-tablet-portrait-up(){
                width: 50%;
            };

            > .PItem-Button{
                @include ElemDimensions(200px , 50px);
                @extend %flex-center-center;
                background-color: $white;
                color: $blue;
                border-radius: 25px;
                border: none;
                font-weight: 700;
                font-size: 1.5rem;
                bottom: 0;
            
            }
       }
    }
    > #canvas{
        position: absolute;
        right: 0;
        z-index: -2;
        @include for-tablet-portrait-up(){
            left: 0;
        }
    }
    
}
