





nav{

    position: relative;
    @include flexbox();
    @include justify-content(flex-start);
    @include ElemDimensions($width:300px);
    @include for-tablet-portrait-up(){
        position: absolute;
        width: 80%;
        pointer-events: none;
    };
    
    z-index: 6;
    
    > .hamburgerMenu{
        pointer-events: all;
        @include ElemDimensions(50px, 50px);
        background-color: $navDark;
        border-radius: 50%;
        margin:25px;
        @extend %flex-center-center;
        font-size: 1.5rem;
        z-index: 7;
        transition: 0.7s;
    }

    > #close{
        background-color: $white;
       
        color: $navDark;
        
    }

    > .NavContainer{

        pointer-events: all;
        @extend  %flex-center;
        @include justify-content(space-between);
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg , $navLight , $navDark);
        transition: 0.7s;
        overflow: hidden;


        @include for-tablet-portrait-up(){
            position: absolute;
            width: 0%;
           
        }

        > .NavHeader{
            @include ElemDimensions($height: auto);
            @extend %flex-center;
            transform-origin: right;
            border-bottom: 2px solid $white;

            @include for-tablet-portrait-up(){
                @include flex-direction(row);
                @include justify-content(center);
                @include align-items(center);
            }

           > a{
                @include ElemDimensions(200px, 200px);
                margin: 25px;
                
                @include for-tablet-portrait-up(){
                    @include ElemDimensions(75px, 75px);
                    padding: 0;
                }
                
            }
            > .MyName{
                margin-bottom: 20px;

                @include for-tablet-portrait-up(){
                    
                    margin: 0;
                }

                > .Title{
                    @extend %space-reset;
                }
                
            }
            
        }
        .LogoLink{
            
            @include ElemDimensions();
            @include flexbox();
            @include justify-content(center);
            padding: 20px 0 0 0;
            
          
            
        }

.Green {
    color: $green;
}

.soMe{
    margin-top: 50px;
    z-index: 1;
    @include for-tablet-portrait-up(){
        margin: 40px;
    }
    
}

.LogoLink > img{
  max-width: 100%;
  border-radius: 50%;
}

        .NavLinks{
            list-style: none;
            @extend %flex-center;
            @extend %space-reset;
            @include justify-content(center);
            @include ElemDimensions($height: 60%);
            margin-top: -75px;
           

            li{
                
                @include ElemDimensions($height: 10%);
                
                margin-top: 0px;

                @include for-tablet-portrait-up(){
                    @include ElemDimensions($height: 15%);
                }

               
                
                .active {
                    background-color:$white;
                    color: $navDark;
                    transition: 0.3s;
                    
                }
                &:hover .active{
                    color: $navLight;
                    border-left: 0px solid $navDark;
                }
                a {
                    @extend %link;
                   
                    @include ElemDimensions();
                    @extend %flex-center;
                    @include justify-content(center);
                    
                   
                    span {
                        z-index: 1;
                        
                    }
                    &::before{
                        display: block;
                         position: absolute;
                         right: 0%;
                        @include ElemDimensions(0%, 6%);
                        background: $white;
                        z-index: 0;
                        overflow: hidden;
                        opacity: 0.5;
                        content: '.';
                        
                    }
                    &:hover::before{
                        opacity: 0.6;
                        transition: 1s;
                        
                        @include ElemDimensions(100%, 6%);
                    }
                }
            }
            &Icon{
                font-size: 2rem;
                margin-bottom: 5px;
                z-index: 1;
            }
        }
    }
    
    
}
