.SliderItem{
    position: absolute;
    min-width: 80%;
    
    height: 55%;
    object-fit: cover;
    object-position: top;
    transition: 0.7s all;
    z-index: -1;
    left: 300px;
    opacity: 0.9;

    @include for-tablet-portrait-up(){
        left: 0px;
        min-width: 100%;
        max-width: 100%;
        height: 35%;
      }
    
}



.focusElem{
    left: 16%;

    @include for-tablet-portrait-up(){
        left: 0px;
        min-width: 100%;
      }
}

#slider{
    left: 0;
    @include ElemDimensions(100%, 55%);
    background-color: black;
    transition: 0.7s all;
    overflow: hidden;
 
    &:hover{
        height: 90%;   
       }
       &:hover > .SliderItem{
        height: 90%;   
        @include for-tablet-portrait-up(){
           height: 70%;
          }
       } 
       
       &:hover > .navButtons{
           transition: 0.7s;
            top: 30%;
       }


    
}
